# Generate using openssl rand -base64 32
JWT_SECRET=your-secret-key-here

GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=https://your-ngrok-subdomain.ngrok-free.dev/auth/google/callback